.App {
  background-image: url(image/BackgroundPixelP.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.App-header {
  padding: 12px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 6vh;
  min-height: 32px;
}

.App-body {
  display: flex;
  width: auto;
  height: 79vh;
}
.App-footer {
  display: flex;
  width: auto;
  height: 10vh;
  min-height: 20px;
}
